.profile-main-section{
    width: calc(100vw - 325px);
    height: 100vh;
    background: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    overflow-y: auto;
}
.header{
    display: none;
    justify-content: space-between;
    background: #000;
    width: calc(100% - 30px);
    height: 50px;
    position: fixed;
    align-items: center;
    padding: 0 15px;
}
.nickname-header{
    font-size: 16px;
    font-weight: 600;
    
}
.upper-part{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
}
.upper-part::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(115, 115, 115, 0.5);
    ;
    opacity: 0.3;
}
.profile-wrapper{
    display: flex;
}
.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 50px;
}
.profile-edition-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    margin: 0 50px;

}
.nickname-edit-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nickname{
    font-size: 20px;
    font-weight: 400;
}
.edit{
    padding: 7px 16px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.settings{
    cursor: pointer;
}
.followers-wrapper{
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 400;
}
.followers-wrapper>div:not(.posts){
    cursor: pointer;
}
.highlight{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 25px;
    cursor: pointer;
}
.highlight>span{
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
}
.highlights-circle{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(115, 115, 115, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 900px;
}
.posts-saved-tagged{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.posts-saved-tagged-inner{
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
    display: flex;
    gap: 75px;
    color: #8e8e8e;
}
.posts-saved-tagged-inner>div{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0 0 0;
    cursor: pointer;
}
.posts-upper{
    color: #fff;
}
.share-photo{
    width: 62px;
    height: 62px;
    background: url("../../assets/png/icons.png");
    background-size: 440px 411px;
    background-position: -63px -288px;
    margin: 75px 0 25px 0;
    cursor: pointer;
    /* background-size: 440px 411px;
    background-position: -189px -288px; */
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.saved{
    display: none;
}
.tagged{
    display: none;
    flex-direction: column;
    align-items: center;
}
.share-photo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}
.share-photo-text span:first-child{
    font-size: 30px;
    font-weight: 900;
}
.share-photo-text span:last-child {
    color: #0a84f6;
    font-weight: 600;
    cursor: pointer;
}
.share-photo-text span:last-child:hover {
    color: #fff;
}
.saved {
    width: 100%;
    justify-content: center;
    margin: 50px 0 0 0;
}
.saved>span:first-child{
    color: #9b9f98;
    font-size: 12px;
}
.saved>span:last-child {
    font-size: 14px;
    color: #0a84f6;
    cursor: pointer;
}
.saved>span:last-child:hover{
    color: #fff;
}
.saved-posts{
    flex-grow: 1;
}
.tagged {
    display: none;
}
.photos-of-you {
    width: 62px;
    height: 62px;
    background: url("../../assets/png/icons.png");
    background-size: 440px 411px;
    background-position: -189px -288px;
    margin: 75px 0 25px 0;
}
.tag-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}
.tag-you span:first-child {
    font-size: 30px;
    font-weight: 900;
}
.tag-you span:last-child {
    font-weight: 600;
}
.footer-profile{
    font-size: 12px;
    margin: 100px 0 60px 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15px;
    color: #8e8e8e;
}
.footer-upper{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.footer-lower-profile{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-a-profile{
    color: #8e8e8e;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .profile-main-section {
        width: calc(100vw - 250px);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .profile-main-section {
        width: calc(100vw - 75px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile-main-section {
        width: calc(100vw - 75px);
    }

    .upper-part {
        width: calc(100vw - 75px - 50px);
        
    }

    .lower-part {
        
        width: calc(100vw - 75px - 50px);
    }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
    .profile-main-section {
        width: 100vw;
    }

    .header {
        display: flex;
    }
    .upper-part {
        width: calc(100vw - 50px);
        margin-top: 75px;
    }

    .lower-part {

        width: calc(100vw - 50px);
    }
/*     
    .profile-photo {
        width: 100px;
        height: 100px;
        margin: 0 25px;
    }

    .profile-edition-wrapper {
        margin: 0 25px;

    }

    .followers-wrapper {
        gap: 25px;
        font-size: 14px;
    } */

    .highlight {
        margin: 50px 25px;
    }

    .highlight>span {
        margin: 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .highlights-circle {
        width: 60px;
        height: 60px;
    }
 
    .highlights-circle>svg{
        width: 30px;
        height: 30px;
    }
    .saved {
        flex-direction: column;
        align-items: center;
    }

    .saved-posts{
        order: 1;
    }
}

@media screen and (max-width: 500px) {
    .upper-part {
        width: 300px;
        /* margin: 25px 0 0 0; */
    }

    .lower-part {

        width: 300px;
    }

    .nickname{
        font-size: 16px;
    }
    .profile-photo {
        width: 75px;
        height: 75px;
        margin: 0 25px 0 0;
    }

    .profile-edition-wrapper {
        margin: 0;

    }

    .followers-wrapper {
        gap: 25px;
        font-size: 14px;
    }

    .highlight {
        margin: 25px 25px;
    }

    .highlight>span {
        margin: 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .highlights-circle {
        width: 60px;
        height: 60px;
    }

    .highlights-circle>svg {
        width: 30px;
        height: 30px;
    }

    .posts-saved-tagged-inner {
        gap: 25px;
    }

    .lower{
        text-align: center;
    }
    .saved {
        flex-direction: column;
        align-items: center;
    }

    .saved-posts {
        order: 1;
    }
}