a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.menu{
    width: 400px;
    height: 100%;
    background: #000000;
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: 0.9px;
}
.disableSelection{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.logo{
    padding: 40px 25px;
    cursor: pointer;
}
.navigation{
    
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 0 25px 0 15px;
}
.moreSection{
    flex-grow: 6;
    display: flex;
    align-items: flex-end;
    padding: 0 0 40px 25px;
    box-sizing: border-box;
}
.more{
    cursor: pointer;
}

.navigation>a>div{
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 20px;
}
.navigation>a>div:hover{
    background: #131313;
    transition: all ease 0.3s;
}
.navigation>a>div:hover>svg{
    transform: scale(1.1);
    transition: all ease 0.3s;
}
.navigation>a>div:hover>img{
    transform: scale(1.1);
    transition: all ease 0.3s;
}
.navigation span{
    font-size: 1.5rem;
    flex-grow: 1;
}
.navigation svg {
    transform: scale(1);
}
.moreSection span{
    font-size: 1.6rem;
    line-height: 1.5rem;
}
.more{
    display: flex;
    gap: 15px;
    align-items: center;
}
.moreSection>div:hover>svg{
    transform: scale(1.05);
    transition: all ease 0.2s;
}
.profilePicture{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: none;
    box-sizing: border-box;
}
