input {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    text-indent: 10px;
}
a{
    text-decoration: none;
}
.login-menu {
    flex-grow: 1;
    height: 100vh;
    background: #121212;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.main-section{
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.phone-block{
    width: 380px;
    height: 580px;
    background: url("../../assets/png/phone929x1268.png");
    background-size: 468.32px 634.15px;
    background-position: -46px 0;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 12px 0;
}
.screenshot{
    width: 250px;
    height: 539px;
    margin: 26px 16px 0 0;
    transition: 1s;
    position: fixed;
    opacity: 0;
}
.active{
    opacity: 1;
}
.footer{
    flex-grow: 3;
}
.login-block{
    width: 350px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.logo-form-wrapper{
    width: 100%;
    height: fit-content;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(147, 165, 176, 0.5);;
}
.logo-form-wrapper>div:first-child{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-login{
    width: 171px;
    height: 51px;
    background: url("../../assets/png/LoginLogo.png");
    margin: 40px 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-field{
    width: 268px;
    height: 40px;
    border: 1px solid;
    border-color: rgba(147, 165, 176, 0.5);
    background: #121212;
    border-radius: 5px;
}
.login-btn{
    align-items: stretch;
    height: 32px;
    background: #0068ac;
    border-radius: 8px;
    color: rgb(147, 165, 176);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    /* background: #0095f6; */
}
.or{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.or>span{
    display: block;
    margin: 0 20px;
    color: rgb(147, 165, 176);;
    font-size: 12px;
}
.or::before {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background: rgb(147, 165, 176);;
    opacity: 0.5;
}
.or::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(147, 165, 176);;
    opacity: 0.5;
}
.facebook-login{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #385185;
    font-weight: 500;
    cursor: pointer;
}
.faceboor-icon{
    width: 16px;
    height: 16px;
    background: url("../../assets/png/facebook.png");
    background-size: cover;
    margin: 0 10px 0 0;
    background-color: #fff;
}
.forgot-pwd{
    cursor: pointer;
    font-size: 12px;
        font-weight: 400;
        display: block;
        padding: 20px;
}
.label-wrapper{
    display: flex;
    align-items: center;
    margin: 10px;
}
.label-wrapper>label{
    font-size: 12px;
    line-height: 12px;
}

.info {
    position: relative;
    left: -5px;
}

.registration{
    width: 350px;
    height: 63px;
    background: #000;
    border: 1px solid;
    border-color: rgb(147, 165, 176, 0.5);
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration>a>span {
    color: rgb(0, 129, 236);
    font-weight: 600;
    cursor: pointer;
}
.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-the-app>span{
    display: block;
    padding: 5px 0 15px 0;
    font-size: 14px;
}
.get-the-app img:first-child{
    width: 134px;
    height: 40px;
    cursor: pointer;
}
.get-the-app img:last-child {
    width: 111px;
    height: 40px;
    cursor: pointer;
}
.get-the-app-img-wrapper{
    display: flex;
    gap: 10px;
}
.footer{
    margin: auto;
    font-size: 12px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-upper{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-a{
    color: rgb(147, 165, 176);
}
.footer-lower {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: rgb(147, 165, 176);
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .phone-block{
        display: none;
    }
    .footer-upper{
        flex-wrap: wrap;
        gap: 17px;
    }
}

@media screen and (max-width: 425px) {
    .phone-block{
        display: none;
    }
    .footer-upper{
        flex-wrap: wrap;
        gap: 17px;
    }
    .logo-form-wrapper{
        border: none;
        background-color: #121212;
    }
    .registration{
        border: none;
        background-color: #121212;
    }
}
